<%- include("./partials/completeHeader") %>


<h1 class="text-center display-4">
	Officer Dashboard
</h1>
<div class="container">
	<div class="row">
		<div class="col-sm border text-center border-dark p-2 m-1">
			<h2>
				<a href="/user/eboard">Executive Board</a>
			</h2>
			<small>Click the title above to go to the Executive Board page where you can learn more about the officers' roles and responsibilities</small>
			<table class="table table-responsive-md">
				<thead>
					<tr>
						<th scope="col"><strong>Title</strong></th>
						<th scope="col"><strong>Name</strong></th>
						<th scope="col"><strong>Email</strong></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><strong>S.U. Advisor</strong></td>
						<%officers.forEach(function(user){%>
							<%if(user.title == "Stockton Advisor"){%>
								<td><%=user.name%></td>
								<td><a href="mailto:<%=user.email%>"><%=user.email%></a></td>
							<%}%>
						<%})%>
					</tr>
					<tr>
						<td><strong>GTAS Advisor</strong></td>
						<%officers.forEach(function(user){%>
							<%if(user.title == "GTAS Advisor"){%>
								<td><%=user.name%></td>
								<td><a href="mailto:<%=user.email%>"><%=user.email%></a></td>
							<%}%>
						<%})%>
					</tr>
					<tr>
						<td><strong>Captain</strong></td>
						<%officers.forEach(function(user){%>
							<%if(user.title == "Captain"){%>
								<td><%=user.name%></td>
								<td><a href="mailto:<%=user.email%>"><%=user.email%></a></td>
							<%}%>
						<%})%>
					</tr>
					<tr>
						<td><strong>Lieutenant</strong></td>
						<%officers.forEach(function(user){%>
							<%if(user.title == "Lieutenant"){%>
								<td><%=user.name%></td>
								<td><a href="mailto:<%=user.email%>"><%=user.email%></a></td>
							<%} %>
						<%})%>
					</tr>
					<tr>
						<td><strong>Training Sergeant</strong></td>
						<%officers.forEach(function(user){%>
							<%if(user.title == "Training Sergeant"){%>
								<td><%=user.name%></td>
								<td><a href="mailto:<%=user.email%>"><%=user.email%></a></td>
							<%}%>
						<%})%>
					</tr>
					<tr>
						<td><strong>Supply Sergeant</strong></td>
						<%officers.forEach(function(user){%>
							<%if(user.title == "Supply Sergeant"){%>
								<td><%=user.name%></td>
								<td><a href="mailto:<%=user.email%>"><%=user.email%></a></td>
							<%}%>
						<%})%>
					</tr>
					<tr>
						<td><strong>Secretary</strong></td>
						<%officers.forEach(function(user){%>
							<%if(user.title == "Secretary"){%>
								<td><%=user.name%></td>
								<td><a href="mailto:<%=user.email%>"><%=user.email%></a></td>
							<%}%>
						<%})%>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-sm border text-center border-dark p-2 m-1">
			<h2>
				DL Expiring Soon
			</h2>
			<small>These are members with Driver's Licenses expiring in the next 12 months</small>
			<table class="table table-responsive-md">
				<thead>
					<tr>
						<th scope="col"><strong>Name</strong></th>
						<th scope="col"><strong>Exp. Date</strong></th>
					</tr>
				</thead>
				<tbody>
					<%allUsers.forEach(function(user){%>
						<%if(user.driversLicense.licensed == true){%>
							<%if(user.driversLicense.dlExpDate.getTime() < (Date.now() + 31560000000)){%>
								<tr>
									<td><a href="/user/<%=user._id%>"><%=user.name%></a></td>
									<td><%=user.driversLicense.dlExpDateReadable%></td>
								</tr>
							<%}%>
						<%}%>
					<%})%>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-sm border text-center border-dark p-2 m-1">
			<h2>
				CPR Expiring Soon
			</h2>
			<small>These are members with CPR certifications expiring in the next 6 months</small>
			<table class="table table-responsive-md">
				<thead>
					<tr>
						<th scope="col"><strong>Name</strong></th>
						<th scope="col"><strong>Exp. Date</strong></th>
					</tr>
				</thead>
				<tbody>
					<%allUsers.forEach(function(user){%>
						<%if(user.cprCert.certified == true){%>
							<%if(user.cprCert.cprExpDate.getTime() < (Date.now() + 15780000000)){%>
								<tr>
									<td><a href="/user/<%=user._id%>"><%=user.name%></a></td>
									<td><%=user.cprCert.cprExpDateReadable%></td>
								</tr>
							<%}%>
						<%}%>
					<%})%>
				</tbody>
			</table>
		</div>
		<div class="col-sm border text-center border-dark p-2 m-1">
			<h2>
				EMT Expiring Soon
			</h2>
			<small>These are members with EMT certifications expiring in the next 12 months</small>
			<table class="table table-responsive-md">
				<thead>
					<tr>
						<th scope="col"><strong>Name</strong></th>
						<th scope="col"><strong>Exp. Date</strong></th>
					</tr>
				</thead>
				<tbody>
					<%allUsers.forEach(function(user){%>
						<%if(user.emtCert.certified == true){%>
							<%if(user.emtCert.emtExpDate.getTime() < (Date.now() + 31560000000)){%>
								<tr>
									<td><a href="/user/<%=user._id%>"><%=user.name%></a></td>
									<td><%=user.emtCert.emtExpDateReadable%></td>
								</tr>
							<%}%>
						<%}%>
					<%})%>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-sm border text-center border-dark p-2 m-1">
			<h2>
				Email List Generator
			</h2>
			<small class="text-center">When sending out emails to members, you have to list every member as a recipient because we don't have access to email lists with the stocktonems-club@go.stockton.edu email. To work around that, use the following tabs to generate an email list that you can copy and paste into the To, CC, or BCC lines of the email to make your life 100x easier.</small>
			<ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
				<li class="nav-item" role="presentation">
					<a class="nav-link active" id="allMembers-tab" data-toggle="tab" href="#allMembers" role="tab" aria-controls="allMembers" aria-selected="true">All Members</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" id="eBoard-tab" data-toggle="tab" href="#eBoard" role="tab" aria-controls="eBoard" aria-selected="false">Executive Board</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" id="crewChiefs-tab" data-toggle="tab" href="#crewChiefs" role="tab" aria-controls="crewChiefs" aria-selected="false">Crew Chiefs</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" id="emts-tab" data-toggle="tab" href="#emts" role="tab" aria-controls="emts" aria-selected="false">EMTs</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" id="nonEmts-tab" data-toggle="tab" href="#nonEmts" role="tab" aria-controls="nonEmts" aria-selected="false">Non-EMTs</a>
				</li>
			</ul>
			<!-- Content -->
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="allMembers" role="tabpanel" aria-labelledby="allMembers-tab">
					<textarea class="form-control" rows="12"readonly><%allUsers.forEach(function(user){%> <%=user.email%>,<%})%></textarea>
				</div>
				<div class="tab-pane fade" id="eBoard" role="tabpanel" aria-labelledby="eBoard-tab">
					<textarea class="form-control" rows="12"readonly><%officers.forEach(function(user){%> <%=user.email%>,<%})%></textarea>
				</div>
				<div class="tab-pane fade" id="crewChiefs" role="tabpanel" aria-labelledby="crewChiefs-tab">
					<textarea class="form-control" rows="12"readonly><%crewChiefs.forEach(function(user){%> <%=user.email%>,<%})%></textarea>
				</div>
				<div class="tab-pane fade" id="emts" role="tabpanel" aria-labelledby="emts-tab">
					<textarea class="form-control" rows="12"readonly><%emts.forEach(function(user){%> <%=user.email%>,<%})%></textarea>
				</div>
				<div class="tab-pane fade" id="nonEmts" role="tabpanel" aria-labelledby="nonEmts-tab">
					<textarea class="form-control" rows="12"readonly><%nonEmts.forEach(function(user){%> <%=user.email%>,<%})%></textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm border border-dark p-2 m-1">
			<h2 class="text-center">
				How do I...?
			</h2>
			<small class="text-center">Use the following links to learn more about what you can do with this website as an officer</small>
			<ul>
				<li><a href="/user/add_new_member">Invite a new member to create an account?</a></li>
				<li><a href="/user/hours">See all current members' hours?</a></li>
				<li><a href="/admin/inventory">Take inventory?</a></li>
				<li><a role="button" href="#" class="btn-link" data-toggle="modal" data-target="#manageMembersModal">Edit member information?</a></li>
				<li><a role="button" href="#" class="btn-link" data-toggle="modal" data-target="#createNewShiftModal">Create a new shift?</a></li>
				<li><a role="button" href="#" class="btn-link" data-toggle="modal" data-target="#editShiftModal">Edit a shift?</a></li>
				<li><a role="button" href="#" class="btn-link" data-toggle="modal" data-target="#trainingModal">Edit a member's training dates/status?</a></li>
				<li><a role="button" href="#" class="btn-link" data-toggle="modal" data-target="#minutesModal">Create meeting minutes or an agenda?</a></li>
			</ul>
		</div>
	</div>
</div>

<!--=====================================Modals:=======================================-->
<!--Manage current member's info modal-->
<div class="modal fade" id="manageMembersModal" tabindex="-1" role="dialog" aria-labelledby="manageMembersModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="manageMembersModalLabel">Managing Member Information</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">	
				To manage the infomation of each member such as phone number, CPR certification details, and title, go to the <a href="/user">roster</a>, find the member on the roster, and click the member's first or last name. This will take you to their profile. From there, you can view all of the member's information. To edit the information, click the "Edit User Information" link on the top right corner. This will open the edit form. If you need to change the member's status or title, click on the button at the bottom that says, "Click to Reveal Officer Controls". From there, fill out the form and click the Submit button once you're done. You should only edit a member's information if the member has refused to do so. Members should be free to edit their own information as needed.
			</div>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>

<!--Create new shift modal-->
<div class="modal fade" id="createNewShiftModal" tabindex="-1" role="dialog" aria-labelledby="createNewShiftModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="createNewShiftModalLabel">Creating a New Shift</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">	
				To create a new shift, you click on the link on the sidebar that says, "<a href="/shift/new">Add New Shift</a>". This will open the new shift form. A shift is any event standby, duty crew, tabling event, training, meeting, general meeting, or training that SEMS is involved with. 
			</div>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>

<!--Edit shift modal-->
<div class="modal fade" id="editShiftModal" tabindex="-1" role="dialog" aria-labelledby="editShiftModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editShiftModalLabel">Editing a Shift</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">	
				Editing a shift is similar to editing a member. Simply go to the schedule, click the name of a shift that you need to edit, and click "Edit Shift Information". You'll be taken to the edit form for that shift.
			</div>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>

<!--Member Training modal-->
<div class="modal fade" id="trainingModal" tabindex="-1" role="dialog" aria-labelledby="trainingModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="trainingModalLabel">Updating Member Training Dates/Status</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">	
				This is all done on the member's profile. Go to the <a href="/user">roster</a>, find the member on the roster, and click the member's first or last name. This will take you to their profile. At the bottom of the member's profile, you will see their Active Member and Crew Chief training dates and statuses. <br> <br> Only add a date once the member has successfully completed the training because it can't be undone. Once you add the date for the clearing, the status will automatically change from "Training" to "Cleared", so only add the date once the member has successfully completed the clearing.
			</div>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>

<!--Meeting Minutes modal-->
<div class="modal fade" id="minutesModal" tabindex="-1" role="dialog" aria-labelledby="minutesModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="minutesModalLabel">Updating Member Training Dates/Status</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h5>
					Agenda
				</h5>
				<p>
					If you're looking to create an agenda for a meeting, you can't do that on this website. <a href="#">Click here</a> to go to the agenda folder. Make a copy of the template. Rename the copy and add the topics that officers want to talk at the meeting on the copy of the template. Don't write on the template itself!
				</p>
				<h5>
					Minutes
				</h5>
				<p>
					To create meeting minutes, go to the schedule and click the name of a meeting for which you're creating minutes. On this page, scroll to the bottom to "Minutes" and type everything that the officers, advisors, and members say during the meeting. If it helps you can copy and paste the agenda topics into each field and go from there. Once you're done and you've reviewed the minutes to make sure there are no spelling or grammar issues, you can click the button that says "Email Minutes to All Members", and it will send out an email of the minutes that you typed up to every member. 
				</p>
			</div>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>

<%- include("./partials/footer") %>
