<%- include("../partials/completeHeader") %>
<h1 class="text-center display-4 spooky">
	Shift Graveyard
</h1>
<%- include("../partials/alert") %>

<div class="container">
	<div class="text-center">
		<img src="/img/grave.gif">
	</div>
	<p>
		The following is our Shift Graveyard. This page is a single table with every single shift we have ever created. I highly recommend sorting or searching for what you're looking for.
	</p>
</div>
<hr>
	<div class="text-center">
	</div>
	<div class="container text-center">
		<table class="table table-hover table-sm table-responsive d-block" id="graveyardTable">
			<thead class="bg-primary text-white">
				<tr>
					<th scope="col-auto">Title</th>
					<th scope="col-auto">Status</th>
					<th scope="col-auto">Start Date</th>
					<th scope="col-auto">End Date</th>
					<th scope="col-auto">Report Time</th>
					<th scope="col-auto">Start Time</th>
					<th scope="col-auto">End Time</th>
					<th scope="col-auto">Duration</th>
					<th scope="col-auto">Shift Location</th>
					<th scope="col-auto">Mandatory</th>
					<th scope="col-auto">O.I.C.</th>
					<th scope="col-auto">C.C.</th>
					<th scope="col-auto">Crew</th>
				</tr>
			</thead>
			<tbody>
			<% allShifts.forEach(function(shift){ %>
					<%if(shift.status == "cancelled"){%>
					<tr class="table-warning">
					<%} else if (shift.status == "unstaffed"){%>
					<tr class="table-danger">
					<%} else if (shift.status == "staffed"){%>
					<tr class="table-success">
					<%} else{%>
					<tr>
					<%}%>
						<td scope="row"><a href="/shift/<%=shift._id%>"><%=shift.shiftName%></a></td>
						<td scope="row" class="capitalize"><%=shift.status%></td>
						<td scope="row"><%=shift.shiftStart.startDateReadable%></td>
						<td scope="row"><%=shift.shiftEnd.endDateReadable%></td>
						<td scope="row"><%=shift.shiftStart.reportTime%></td>
						<td scope="row"><%=shift.shiftStart.startTime%></td>
						<td scope="row"><%=shift.shiftEnd.endTime%></td>
						<td scope="row"><%=shift.durationReadable%></td>
						<td scope="row"><%=shift.shiftLocation%></td>
						<td scope="row">
							<%if(shift.isMandatory == true){%>
							<span class="text-danger">Yes</span>
							<%} else{%>
							<span>No</span>
							<%}%>
						</td>
						<td scope="row">
							<%if(shift.officerInCharge.name){%>
							<span><%=shift.officerInCharge.name%>, <%=shift.officerInCharge.title%></span>
							<%} else {%>
							<span>-</span>
							<%}%>
						</td>
						<td scope="row">
							<%if(shift.crewChief.name){%>
							<span><%=shift.crewChief.name%>, <%=shift.crewChief.title%></span>
							<%} else {%>
							<span>-</span>
							<%}%>
						</td>
						<td scope="row">
							<%if(shift.type == "ta" || shift.type == "es" || shift.type == "dc"){%>
								<% if(shift.crewArray == null || shift.crewArray == undefined || shift.crewArray.length == 0){%>
									-
								<%} else {%>
									<%= shift.crewArray.length%>/<%=shift.crewMax%>
							<%}}else {%>
							-
							<%}%>
						</td>
					</tr>
				<%})%>
			</tbody>
		</table>
	</div>
	<hr>
</div>


<%- include("../partials/footer") %>
