<%- include("../partials/completeHeader") %>
<h1 class="display-4">
	<%=shift.shiftName%>
	<br>
	<span><small><%=shift.shiftStart.startDateReadable%></small></span> 
</h1>
<%- include("../partials/alert") %>
<div class="container">
	<div class="d-flex align-middle justify-content-between">
		<div class="mr-auto p-2" >
			<a href="/shift"><i class="fas fa-long-arrow-alt-left"></i> Go back to the schedule</a>
		</div>
			<a href="/shift/<%=shift._id%>/edit" class="text-right justify-content-end d-flex"><i class="fas fa-edit mr-1"></i>Edit Shift Infomation</a>
	</div>
	<p>
		<strong>Name: </strong> <span class="text-primary"><%=shift.shiftName%></span>
	</p>
	
	<%if(shift.type == "es"){%>
		<p>
			<strong>Event Host: </strong> <span class="text-primary"><%=shift.shiftHost%></span>
		</p>
	<%}%>
	
	<div class="mb-3">
		<strong>Status: </strong> 
			<%if(shift.status == "scheduled"){%>
			<span class="text-primary capitalize"><%=shift.status%></span>
			<%}%>
			<%if(shift.status == "cancelled"){%>
			<span class="text-warning capitalize"><%=shift.status%></span>
			<%}%>
			<%if(shift.status == "unstaffed"){%>
			<span class="text-danger capitalize"><%=shift.status%></span>
			<%}%>
			<%if(shift.status == "staffed"){%>
			<span class="text-success capitalize"><%=shift.status%></span>
			<%}%>
		<span>
			<form action="/shift/<%=shift.id%>/status?_method=PUT" method="POST" class="form-inline d-inline">
				<select class="form-control form-control-sm" id="status" name="status" required>
					<option value="scheduled" <%= (shift.status == "scheduled")?'selected':''%>>Scheduled</option>
					<option value="staffed" <%= (shift.status == "staffed")?'selected':''%>>Staffed</option>
					<option value="cancelled" <%= (shift.status == "cancelled")?'selected':''%>>Cancelled</option>
					<option value="unstaffed" <%= (shift.status == "unstaffed")?'selected':''%>>Unstaffed</option>
				</select>
				<button class="btn btn-sm btn-primary">
					Update Status
				</button>
			</form>
		</span>
	</div>
	
	<p>
		<strong>Shift Type: </strong> 
		<%if(shift.type == "es"){%>
		<span class="text-primary">Event Standby</span>
		<%}%>
		<%if(shift.type == "dc"){%>
		<span class="text-primary">Duty Crew</span>
		<%}%>
		<%if(shift.type == "gm"){%>
		<span class="text-primary">General Meeting</span>
		<%}%>
		<%if(shift.type == "ta"){%>
		<span class="text-primary">Tabling</span>
		<%}%>
		<%if(shift.type == "tr"){%>
		<span class="text-primary">Training</span>
		<%}%>
		<%if(shift.type == "m"){%>
		<span class="text-primary">Meeting</span>
		<%}%>
		<%if(shift.type == "sg"){%>
		<span class="text-primary">Social Event</span>
		<%}%>
	</p>
	
	<p>
		<strong>Date and Time: </strong> <span class="text-primary"><%=shift.shiftStart.startDateReadable%> <%=shift.shiftStart.startTime%> - <%=shift.shiftEnd.endDateReadable%> <%=shift.shiftEnd.endTime%></span>
	</p>
	
	<p>
		<strong>Duration: </strong> <span class="text-primary"><%=shift.durationReadable%></span>
	</p>
	
	<p aria-describedby="rlHelp">
		<strong>Report Time and Location: </strong> <span class="text-primary"><span class="text-primary"><%=shift.shiftStart.reportTime%> at </span><%=shift.reportLocation%></span>
		<small id="rlHelp" class="form-text text-muted pt-0 mt-0">This is where everyone will meet at the report time. If there's no report location and this is a duty crew or event standby, talk to the crew chief or lieutenant. Otherwise, you will likely be meeting directly at the shift location</small>
	</p>
	
	<p aria-describedby="slHelp">
		<strong>Shift Location: </strong> <span class="text-primary"><%=shift.shiftLocation%></span>
		<small id="slHelp" class="form-text text-muted pt-0 mt-0">This is where the shift will be taking place</small>
	</p>
	
<%if(shift.type == "es" || shift.type == "ta" || shift.type == "dc"){%>	
	<p>
		<strong>Vehicle: </strong> <span class="text-primary"><%=shift.vehicle%></span>
	</p>

	<p>
		<strong>Crew: </strong>
	</p>
	<ul>
		<li><strong>Officer-In-Charge: </strong><span class="text-primary"><%=shift.officerInCharge.title%> <%=shift.officerInCharge.name%></span>
					<span class="d-inline-block">
						<form class="form-inline" action="/shift/<%=shift._id%>/remove/<%=shift.officerInCharge._id%>?_method=PUT" method="POST">
							<button class="btn text-danger btn-link"> <small>[Remove]</small> </button> 	
						</form>
					</span>
		</li>
		<li><strong>Crew Chief: </strong><span class="text-primary"><%=shift.crewChief.name%></span>
				<span class="d-inline-block">
					<form class="form-inline" action="/shift/<%=shift._id%>/remove/<%=shift.crewChief._id%>?_method=PUT" method="POST">
						<button class="btn text-danger btn-link"> <small>[Remove]</small> </button> 	
					</form>
				</span>
		</li>
		<%shift.crewArray.forEach(function(cm){%>
		<li><strong>Crew Member: </strong><span class="text-primary"><%=cm.name%></span>
					<span class="d-inline-block">
						<form class="form-inline" action="/shift/<%=shift._id%>/remove/<%=cm._id%>?_method=PUT" method="POST">
							<button class="btn text-danger btn-link"> <small>[Remove]</small> </button> 	
						</form>
					</span>
		</li>
		<%})%>
	</ul>
	<%}%>
	<p>
		<strong>Notes: </strong> <span class="text-primary"><%=shift.notes%></span>
	</p>
	
	<p class="text-right text-secondary">
		<em><strong>Created By: </strong><span><%=shift.creator.name%></span></em>
	</p>
	
	<!-- View Crew Run Form -->
	<%if(todayMS >= shift.startDateMS){%> 
	<%if(shift.type == "es" || shift.type == "dc"){%>
		<hr>
		<div class="accordion" id="accordionRunForm">
			<div class="card bg-transparent border-0">
				<div class="card-header bg-transparent" id="headingOne">
					<h2 class="mb-0 bg-transparent">
						<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseRunForm" aria-expanded="false" aria-controls="collapseRunForm">
							Crew Run Form
						</button>
					</h2>
				</div>
				<div id="collapseRunForm" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionRunForm">
					<div class="card-body">
						<div>
							<div>
								<strong>Transportation to Event: </strong>
								<%if(shift.crewRunForm != undefined){%>
								<span>
									<form action="/shift/<%=shift.id%>/update/transportation?_method=PUT" method="POST" class="form-inline d-inline">
										<input class="form-control form-control-sm" id="transportation" name="transportation" type="text" required value="<%=shift.crewRunForm.transportation%>">
										<button class="btn btn-sm btn-primary">
											Update
										</button>
									</form>
								</span>
								<%} else{%>
									<span class="text-primary"><%=shift.crewRunForm.transportation%></span>
								<%}%>
							</div>
							<ul class="list-unstyled">
								<strong>Times:</strong>
								<li class="ml-4"><strong>At Stockton PD: </strong>
									<%if(shift.crewRunForm != undefined){%>
									<span>
										<form action="/shift/<%=shift.id%>/update/atPD?_method=PUT" method="POST" class="form-inline d-inline">
											<input class="form-control form-control-sm" id="atPD" name="atPD" type="time" required value="<%=shift.crewRunForm.timeAtPD%>">
											<button class="btn btn-sm btn-primary">
												Update
											</button>
										</form>
									</span>
									<%} else{%>
										<span class="text-primary"><%=shift.crewRunForm.timeAtPD%></span>
									<%}%>
								</li>
								<li class="ml-4"><strong>On Location: </strong>
									<%if(shift.crewRunForm != undefined){%>
									<span>
										<form action="/shift/<%=shift.id%>/update/onLocation?_method=PUT" method="POST" class="form-inline d-inline">
											<input class="form-control form-control-sm" id="onLocation" name="onLocation" type="time" required value="<%=shift.crewRunForm.onLocation%>">
											<button class="btn btn-sm btn-primary">
												Update
											</button>
										</form>
									</span>
									<%} else{%>
										<span class="text-primary"><%=shift.crewRunForm.onLocation%></span>
									<%}%>
								</li>
								<li class="ml-4"><strong>Leave Scene: </strong>
									<%if(shift.crewRunForm != undefined){%>
									<span>
										<form action="/shift/<%=shift.id%>/update/leaveScene?_method=PUT" method="POST" class="form-inline d-inline">
											<input class="form-control form-control-sm" id="leave" name="leave" type="time" required value="<%=shift.crewRunForm.timeLeaveScene%>">
											<button class="btn btn-sm btn-primary">
												Update
											</button>
										</form>
									</span>
									<%} else{%>
										<span class="text-primary"><%=shift.crewRunForm.timeLeaveScene%></span>
									<%}%>
								</li>
								<li class="ml-4"><strong>Leave PD: </strong>
									<%if(shift.crewRunForm != undefined){%>
										<span>
											<form action="/shift/<%=shift.id%>/update/leavePD?_method=PUT" method="POST" class="form-inline d-inline">
												<input class="form-control" rows="3" id="leavePD" name="leavePD" type="time" required value="<%=shift.crewRunForm.timeLeavePD%>">
												<button class="btn btn-sm btn-primary">
													Update
												</button>
											</form>
										</span>
										<%} else{%>
										<span class="text-primary"><%=shift.crewRunForm.timeLeavePD%></span>
									<%}%>
								</li>
							</ul>
							<ul class="list-unstyled">
								<li><strong>Number of Patients: </strong>
									<%if(shift.crewRunForm != undefined){%>
										<span>
											<form action="/shift/<%=shift.id%>/update/numPts?_method=PUT" method="POST" class="form-inline d-inline">
												<input class="form-control" rows="3" id="numPts" name="numPts" type="number" required value="<%=shift.numPts%>">
												<button class="btn btn-sm btn-primary">
													Update
												</button>
											</form>
										</span>
										<%} else{%>
										<span class="text-primary"><%=shift.numPts%></span>
									<%}%>
								</li>
								<li class="mt-2"><strong>Number of Public Assists: </strong>
									<%if(shift.crewRunForm != undefined){%>
										<span>
											<form action="/shift/<%=shift.id%>/update/numPAs?_method=PUT" method="POST" class="form-inline d-inline">
												<input class="form-control" rows="3" id="numPAs" name="numPAs" type="number" required value="<%=shift.numPAs%>">
												<button class="btn btn-sm btn-primary">
													Update
												</button>
												<small class="form-text text-muted">
													This is the number of people you helped during the shift, e.g., giving advice, applying a band-aid, icing a knee, or anything else short of them becoming a patient.
												</small>
											</form>
										</span>
										<%} else{%>
										<span class="text-primary"><%=shift.numPAs%></span>
									<%}%>
								</li>
							</ul>
							<div>
								<div class="form-group">
									<form action="/shift/<%=shift.id%>/update/narrative?_method=PUT" method="POST">
										<label for="narrative" aria-describedby="narrativeHelp"><strong>Narrative: </strong></label>
										<small id="narrativeHelp" class="form-text text-muted">
											Write a summary of what was done during this shift. Note the location(s) where the crew was stationed and briefly mention any public assists, patients, and other significant events that occurred. This isn't a PCR. Don't go into details about patients. We're specifically looking for details about the shift itself.
										</small>
										<textarea class="form-control p-0 text-left" id="narrative" name="narrative" required><%if(shift.crewRunForm == undefined || shift.crewRunForm.narrative == null){%><%} else {%><%=shift.crewRunForm.narrative%><%}%></textarea>
										<button class="btn btn-sm btn-primary">
											Submit Narrative
										</button>
									</form>
										<strong>Narrative: </strong>
										<span class="text-primary">
											<%=shift.crewRunForm.narrative%>
										</span>
								</div>	
							</div>
							<div>
								<div class="form-group">
									<form action="/shift/<%=shift.id%>/update/equipmentUsed?_method=PUT" method="POST">
										<label for="equipmentUsed" aria-describedby="equipmentUsedHelp"><strong>Equipment User: </strong></label>
										<small id="equipmentUsedHelp" class="form-text text-muted">
											In the space below, list the equipment you used during this shift and the quantity that you used.
										</small>
										<textarea class="form-control p-0 text-left" id="equipmentUsed" name="equipmentUsed" required><%if(shift.crewRunForm == undefined || shift.crewRunForm.equipmentUsed == null){%><%} else {%><%=shift.crewRunForm.equipmentUsed%><%}%></textarea>
										<button class="btn btn-sm btn-primary">
											Submit Equipment
										</button>
									</form>
										<strong>Equipment Used: </strong>
										<span class="text-primary">
											<%=shift.crewRunForm.equipmentUsed%>
										</span>
								</div>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<%}}%>
	
<!-- View attendance and minutes -->
	<%if(todayMS >= shift.startDateMS){%> 
	<%if(shift.type == "gm"){%>
		<hr>
		<div class="accordion" id="accordionMeeting">
			<div class="card bg-transparent border-0">
				<div class="card-header bg-transparent" id="headingOneMeeting">
					<h2 class="mb-0 bg-transparent">
						<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseMeeting" aria-expanded="false" aria-controls="collapseMeeting">
							Attendance
						</button>
					</h2>
				</div>
				<div id="collapseMeeting" class="collapse" aria-labelledby="headingOneMeeting" data-parent="#accordionMeeting">
					<div class="card-body">
								<form action="/shift/<%=shift.id%>/update/attendance?_method=PUT" method="POST">
									<p>
										Check off all of the members that are/were in attendance:
									</p>
									<%allMembers.forEach(function(user){%>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="<%=user.id%>" name="attendanceCheckBoxes" id="defaultCheck<%=user.id%>">
										<label class="form-check-label" for="defaultCheck<%=user.id%>">
											<%=user.name%>
										</label>
									</div>
									<%})%>
									<input type="submit" class='button'>
								</form>
								<p>
									The following members were in attendance at the meeting: (You must submit attendance within 24 hours of the meeting)
								</p>
								<ul>
									<%shift.attendedArray.forEach(function(user){%>
										<li>
											<%=user.name%>
										</li>
									<%})%>
								</ul>
									<p>
										<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseEdit" aria-expanded="false" aria-controls="collapseEdit">
											Add Members to Attended List
										</button>
										<button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#collapseRemove" aria-expanded="false" aria-controls="collapseRemove">
											Remove Members from Attended List
										</button>
									</p>
									<div class="collapse" id="collapseEdit">
										<div class="card card-body">
											<form action="/shift/<%=shift.id%>/update/attendance/add?_method=PUT" method="POST">
												<p>
													<strong><em>ONLY</em></strong> select the members that you want to <em>add</em> to the list. Anyone you select will be added to the attended list even if they're already on the list, and you'll have to delete and re-add the duplicate member.
												</p>
												<%allMembers.forEach(function(user){%>
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value="<%=user.id%>" name="attendanceEditCheckBoxes" id="editCheck<%=user.id%>">
													<label class="form-check-label" for="editCheck<%=user.id%>">
														<%=user.name%>
													</label>
												</div>
												<%})%>
												<input type="submit" class='button'>
											</form>
										</div>
									</div>
									<div class="collapse" id="collapseRemove">
										<div class="card card-body">
											<form action="/shift/<%=shift.id%>/update/attendance/remove?_method=PUT" method="POST">
												<p>
													<strong><em>ONLY</em></strong> select the members that you want to <em>remove</em> from the list. Anyone you select will be removed from the attended list.
												</p>
												<%allMembers.forEach(function(user){%>
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value="<%=user.id%>" name="attendancePullCheckBoxes" id="removeCheck<%=user.id%>">
													<label class="form-check-label" for="removeCheck<%=user.id%>">
														<%=user.name%>
													</label>
												</div>
												<%})%>
												<input type="submit" class='button'>
											</form>
										</div>
									</div>
					</div>
				</div>
				<!-- Minutes -->
				<div class="card-header bg-transparent" id="headingTwoMeeting">
					<h2 class="mb-0 bg-transparent">
						<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwoMeeting" aria-expanded="false" aria-controls="collapseTwoMeeting">
							Minutes
						</button>
					</h2>
				</div>
				<div id="collapseTwoMeeting" class="collapse show" aria-labelledby="headingTwoMeeting" data-parent="#accordionMeeting">
					<div class="card-body">
						<div>
							<!-- 	Cpt Topics	 -->
							<div>
								<div class="form-group">
									<form action="/shift/<%=shift.id%>/update/cptTopics?_method=PUT" method="POST">
										<label for="cptTopics" aria-describedby="cptTopicsHelp"><strong>Captain's Topics: </strong></label>
										<small id="cptTopicsHelp" class="form-text text-muted">
											Record the topics discussed by the Captain at the meeting
										</small>
										<textarea class="form-control text-left" id="cptTopics" name="cptTopics" required><%if(shift.meetingMinutes == undefined || shift.meetingMinutes.cptTopics == null){%><%} else {%><%=shift.meetingMinutes.cptTopics%><%}%></textarea>
										<button class="btn btn-sm btn-primary">
											Submit Topics
										</button>
									</form>
										<strong>Captain Topics: </strong>
										<span class="text-primary">
											<%=shift.meetingMinutes.cptTopics%>
										</span>
								</div>	
							</div>
							<hr>
							<!-- 	lt Topics	 -->
							<div>
								<div class="form-group">
									<form action="/shift/<%=shift.id%>/update/ltTopics?_method=PUT" method="POST">
										<label for="ltTopics" aria-describedby="ltTopicsHelp"><strong>Lieutenant's Topics: </strong></label>
										<small id="ltTopicsHelp" class="form-text text-muted">
											Record the topics discussed by the Lieutenant at the meeting
										</small>
										<textarea class="form-control text-left" id="ltTopics" name="ltTopics" required><%if(shift.meetingMinutes == undefined || shift.meetingMinutes.ltTopics == null){%><%} else {%><%=shift.meetingMinutes.ltTopics%><%}%></textarea>
										<button class="btn btn-sm btn-primary">
											Submit Topics
										</button>
									</form>
										<strong>Lieutenant's Topics: </strong>
										<span class="text-primary">
											<%=shift.meetingMinutes.ltTopics%>
										</span>
								</div>	
							</div>
							<hr>
							<!-- 	tSgt Topics	 -->
							<div>
								<div class="form-group">
									<form action="/shift/<%=shift.id%>/update/tSgtTopics?_method=PUT" method="POST">
										<label for="tSgtTopics" aria-describedby="tSgtTopicsHelp"><strong>Training Sergeant's Topics: </strong></label>
										<small id="tSgtTopicsHelp" class="form-text text-muted">
											Record the topics discussed by the Training Sergeant at the meeting
										</small>
										<textarea class="form-control text-left" id="tSgtTopics" name="tSgtTopics" required><%if(shift.meetingMinutes == undefined || shift.meetingMinutes.tSgtTopics == null){%><%} else {%><%=shift.meetingMinutes.tSgtTopics%><%}%></textarea>
										<button class="btn btn-sm btn-primary">
											Submit Topics
										</button>
									</form>
										<strong>Training Sergeant Topics: </strong>
										<span class="text-primary">
											<%=shift.meetingMinutes.tSgtTopics%>
										</span>
								</div>	
							</div>
							<hr>
							<!-- 	sSgt Topics	 -->
							<div>
								<div class="form-group">
									<form action="/shift/<%=shift.id%>/update/sSgtTopics?_method=PUT" method="POST">
										<label for="sSgtTopics" aria-describedby="sSgtTopicsHelp"><strong>Supply Sergeant's Topics: </strong></label>
										<small id="sSgtTopicsHelp" class="form-text text-muted">
											Record the topics discussed by the Supply Sergeant at the meeting
										</small>
										<textarea class="form-control text-left" id="sSgtTopics" name="sSgtTopics" required><%if(shift.meetingMinutes == undefined || shift.meetingMinutes.sSgtTopics == null){%><%} else {%><%=shift.meetingMinutes.sSgtTopics%><%}%></textarea>
										<button class="btn btn-sm btn-primary">
											Submit Topics
										</button>
									</form>
										<strong>Supply Sergeant Topics: </strong>
										<span class="text-primary">
											<%=shift.meetingMinutes.sSgtTopics%>
										</span>
								</div>	
							</div>
							<hr>
							<!-- 	advisor Topics	 -->
							<div>
								<div class="form-group">
									<form action="/shift/<%=shift.id%>/update/advisorTopics?_method=PUT" method="POST">
										<label for="advisorTopics" aria-describedby="advisorTopicsHelp"><strong>Advisors' Topics: </strong></label>
										<small id="advisorTopicsHelp" class="form-text text-muted">
											Record the topics discussed by the Advisor at the meeting
										</small>
										<textarea class="form-control text-left" id="advisorTopics" name="advisorTopics" required><%if(shift.meetingMinutes == undefined || shift.meetingMinutes.advisorTopics == null){%><%} else {%><%=shift.meetingMinutes.advisorTopics%><%}%></textarea>
										<button class="btn btn-sm btn-primary">
											Submit Topics
										</button>
									</form>
										<strong>Advisor Topics: </strong>
										<span class="text-primary">
											<%=shift.meetingMinutes.advisorTopics%>
										</span>
								</div>	
							</div>
							<hr>
							<!-- 	member Topics	 -->
							<div>
								<div class="form-group">
									<form action="/shift/<%=shift.id%>/update/memberTopics?_method=PUT" method="POST">
										<label for="memberTopics" aria-describedby="memberTopicsHelp"><strong>Members' Topics: </strong></label>
										<small id="memberTopicsHelp" class="form-text text-muted">
											Record the topics discussed by Members at the meeting
										</small>
										<textarea class="form-control text-left" id="memberTopics" name="memberTopics" required><%if(shift.meetingMinutes == undefined || shift.meetingMinutes.memberTopics == null){%><%} else {%><%=shift.meetingMinutes.memberTopics%><%}%></textarea>
										<button class="btn btn-sm btn-primary">
											Submit Topics
										</button>
									</form>
										<strong>Members' Topics: </strong>
										<span class="text-primary">
											<%=shift.meetingMinutes.memberTopics%>
										</span>
								</div>	
							</div>
						</div>
					</div>
					<!-- Email Minutes to Members -->
						<form class="text-center" action="#">
							<p>
								<span class="text-danger">Please make sure you've clicked submit topics for each of the fields above!</span> Once the above is complete, click the button below to send out the minutes to all members:
							</p>
							<button class="btn btn-warning">
								Email Minutes to All Members
							</button>
						</form>
				</div>
			</div>
		</div>
	<%}}%>
</div>

<!-- Add/Remove Member from Shift -- Self -->
	<%if(shift.type == "es" || shift.type == "dc" || shift.type == "ta"){%>
		<hr>
		<div class="text-center mb-5">
			<form action="/shift/<%=shift._id%>/crewRemove?_method=PUT" method="POST">
				<button class="btn btn-warning"> Remove me from this shift </button> 	
			</form>	
			 <form action="/shift/<%=shift._id%>/crewAdd?_method=PUT" method="POST">
				<button class="btn btn-success"> Sign Me Up! </button> 	
			</form>	
		</div>
	<%}%>

<!-- Button trigger first modal -->
<hr>
<div class="text-center">
	<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteShiftModal">
	  Delete shift
	</button>
</div>

<!-- First Modal -->
<div class="modal fade" id="deleteShiftModal" tabindex="-1" role="dialog" aria-labelledby="deleteShiftModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content bg-danger text-white">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteShiftModalLabel">Delete Shift:</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>
					Deleting a shift should <strong><em>ONLY</em></strong> be done because the shift was added <em>accidently</em> or <em>fraudulently</em>. 
					<br> <br>
					If the event was cancelled, please click <a href="/shift/<%=shift._id%>/edit">edit shift infomation</a> and update the status to "cancelled" <u>instead</u> of deleting them. 
					<br> <br>
					If you delete a shift without proper authorization, you will be subject to disciplinary action.
					<br> <br>
					If you have the proper authorization to delete this shift, <u>AND</u> this shift was added accidently or fraudulently, you may continue. 
				</p>
			</div>
			<div class="modal-footer text-center">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-warning" data-dismiss="modal" data-toggle="modal" data-target="#deleteShiftModal2">Continue to Delete</button>
			</div>
		</div>
	</div>
</div>

<!-- Second Modal -->
<div class="modal fade" id="deleteShiftModal2" tabindex="-1" role="dialog" aria-labelledby="deleteShiftModalLabel2" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content text-red">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteShiftModalLabel2">Permanently Delete Shift:</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>
					This is the final screen before permanently deleting this shift. Clicking "Delete shift" will remove this shift's data. 
					<br> <br>
					As a final reminder, this action should only be done if the shift you are trying to delete was added accidently. If this shift was added accidently, please click <a href="/shift/<%=shift._id%>/edit">edit shift infomation</a> and update the status instead of deleting it. Deleting is not meant for actual shifts - only fraudulent shifts. 
					<br> <br>
					To delete this shift please click "Delete Shift". Otherwise, you can click away or click "Cancel" to not delete this shift. 
				</p>
			</div>
			<div class="modal-footer text-center">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<form class="delete-form" action="/shift/<%=shift._id%>?_method=DELETE" method="POST">
					<input type="submit" class="btn btn-danger" value="Delete Shift">
				</form>
			</div>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>